{% extends "base.html" %}
{% block navlinks %}
<li><a href="/login">Login</a></li>
<li class="active"><a href="#">Register <span class="sr-only">(current)</span></a></li>
{% endblock %}
{% block content %}
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <div class="well">
    <h2 class="h4 text-center">Register</h2>
    <form class="form-horizontal" method="post">
      <div class="form-group text-center">
        <label class="control-label">
          Already registered? Click <a href="/login">here</a> to log in.
        </label>
      </div>
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">User Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="username"
            placeholder="Username" value="{{username}}">
        </div>
        {% if error_username %}
        <div class="col-sm-offset-3 col-sm-8 error error-padding">
          <strong>{{error_username}}</strong>
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" name="password"
            placeholder="Password" value="">
        </div>
        {% if error_password %}
        <div class="col-sm-offset-3 col-sm-8 error error-padding">
          <strong>{{error_password}}</strong>
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="verify" class="col-sm-3 control-label">Verify Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" name="verify"
            placeholder="Password" value="">
        </div>
        {% if error_verify %}
        <div class="col-sm-offset-3 col-sm-8 error error-padding">
          <strong>{{error_verify}}</strong>
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email (Optional)</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="email"
            placeholder="Email" value="{{email}}">
        </div>
        {% if error_email %}
        <div class="col-sm-offset-3 col-sm-8 error error-padding">
          <strong>{{error_email}}</strong>
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-offset-3 col-sm-4">
          <button class="btn btn-block btn-primary" type="submit">
            Register
          </button>
          <a href="/" class="btn btn-block btn-default visible-xs">
            Cancel
          </a>
        </div>
        <div class="col-sm-4 hidden-xs">
          <a href="/" class="btn btn-block btn-default">
            Cancel
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
